body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.card-img-overlay {
    top: 0;
    left: 44%;
}

.task {
    background-image: url("../img/task.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

.usersImg {
    background-image: url("../img/users.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}


.immeuble {
    background-image: url("../img/immeuble.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 94vh;
    width: 100%;
}

.annoncesImg {
    background-image: url("../img/annonces.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 80px;
}

.card-img-overlay2 {
    position: absolute;
    bottom: 31%;
    right: 0%;
    padding: var(--bs-card-img-overlay-padding);
    font-size: 1.5em;
}

.listeAnnonces {
    left: 75%;
    overflow-y: auto;
}

.btn {
    margin-top: 10px;
}

.ajouterBtn {
    margin: 25px 0px;
}



@media screen and (max-width: 768px) {
    .immeuble {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card-img-overlay {
        top: 0%;
        left: 0%;
    }
}